/*---------------- FRESH ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap');
.section1{
    background-color:rgba(255, 214, 69, 1);
    width:1440px;
    height:1024px;
}

.section2{
    width: 1440px;
    display:flex;
}

.capcelera{
    margin: 30px;
    line-height: 31px;
    color:#686868;
}

.imgfresh{
    width:84px;
    height: 38px;
    margin-right: 150px;
}

.search{
    width:36px;
    height:36px;
    line-height: 108px;
    margin-left:150px;
    margin-top: 30px;
}


.rectangle1{
    box-sizing: border-box;
    width: 123px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    color:#FFFFFF; 
    display: flex;
    margin-left:30px;
    margin-top:30px;
    background-color:transparent;
}

a{
    color:#686868;
    text-decoration: none;
}

.signup a{
    margin-left:30px;
    margin-top:1px;
    background-color:transparent;
    border:1px solid transparent;
    color:#FFFFFF;
    font-size:15px;
    background-color:transparent;
}

.lemonade{
    width:1052px;
    height:611px;
    Color: #F4EBCB;
    font-size:350px;
    text-align:center;
    margin-left:220px;
    line-height: 76.3%;
    position: relative;
    margin-top:100px;
    user-select:none;
}


.leftarrow{
    border:1px solid black;
    width: 30px;
    height:30px;
    text-align: center;
    margin-left:100px;
    align-items:center;
    display:flex;
    margin-top: -21px;
    font-size:30px;
    background-color:transparent;   
}

.rightarrow{
    border:1px solid black;
    width: 30px;
    height:30px;
    text-align: center;
    margin-left:1300px;
    align-items: center;
    display:flex;
    margin-top: -300px;
    font-size: 30px;
    background-color:transparent;   
}

.learnmore{
    border:1px solid blue;
    width:189px;
    height:64px;
    text-align:center;
    line-height:64px;
    color:blue;
    margin-left:1000px;
    margin-top:260px;
    background-color:transparent;       
    font-size: 24px; 
}

button:hover{
    cursor:pointer;
    font-size:30px;
}

.redhatfont{
    font-family: 'Red Hat Text';
    font-style:normal;
}

.marked{
    color:blue;
    text-decoration: underline;
}

.lemonadeimg{
    position: absolute;
    width: 223px;
    height: 555px;
    left: 421px;
    top: 18px;
}

.li1{
    position: absolute;
    width: 114px;
    height: 98px;
    left: 650px;
    top: 220px;
    transform: rotate(-35deg);
}

.li2{
    position: absolute;
    width: 126px;
    height: 143px;
    left: 320px;
    top: 140px;
    transform: rotate(-70deg);
}


.li3{
    position: absolute;
    width: 126px;
    height: 143px;
    left: 580px;
    top: 380px;
    transform: rotate(10deg);
}

.li4{
    position: absolute;
    width: 126px;
    height: 143px;
    left: 680px;
    top: 457px;
}

.li5{
    position: absolute;
    width: 114px;
    height: 98px;
    left: 370px;
    top: 370px;
    transform: rotate(-120deg);
}

.li6{
    position: absolute;
    width: 134px;
    height: 128px;
    left: 340px;
    top: 240px;
}

a:hover{
    color:blue;
    text-decoration:underline;
}

button{
    background-color: transparent;
    border:1px solid transparent;
}
